
.app {
  width: 500px;
}

.radius {
  border-radius: 100px;
}

.main {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  padding: 5px 10px;
  color: #313131;
  font-size: 18px;
  line-height: 20px;
  width: 86%;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px;
  text-align: center;
}

.search input:focus {
  outline: none;
  border-color: #1890ff;
  box-shadow: 0 0 3px #1890ff;
}

ul {
  padding: 0 10px;
  margin: 0;
}

li {
  font-size: 14px;
  line-height: 28px;
  list-style: none;
}

.title {
  font-size: 20px;
}

a {
  color:rgb(45, 45, 45);
  /* text-decoration: underline; */
  cursor: pointer;
}

li.active a {
  color: #337ab7;
  cursor: not-allowed;
  /* text-decoration: none; */
}

table {
  width: 100%;
}

th, td {
  padding: 5px 10px;
}

.ui-drag {
  display: flex;
  height: 100%;
}

.ui-drag-tools {
  display: flex;
  flex-direction: column;
  flex: 0 0 60px;
  justify-content: space-around;
}

.ui-drag-tools a {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.ui-drag-tools a img {
  width: 100%;
  height: 100%;
}

.ui-drag a.disabled {
  filter: opacity(0.5);
}

.ui-drag-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-tags {
  padding: 0 10px;
  overflow: hidden;
}

.project-tag {
  cursor: pointer;
  float: left;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #000;
  margin: 5px 8px;
  color: #fff;
  transition: all .2s linear;
}

.project-tag.draged {
  animation-name: none !important;
}

.project-tag.draged:hover {
  transform: scale(1.15);
}

.project-tag.hovering {
  animation: none !important;
  transform: scale(1.15);
}

.project-tag.disabled {
  background: #c9c9c9;
  filter: opacity(0.2);
}

.project-tag.hot {
  background-color: #f22d2f;
  border-color: #f22d2f;
  box-shadow: 0 1px 5px #f22d2f;
}

.project-tag.hot:hover, 
.project-tag.hot.hovering {
  box-shadow: 0 0 10px #f22d2f;
}

.project-tag.warm {
  background-color: #FF8C00;
  border-color: #FF8C00;
  box-shadow: 0 1px 5px #FF8C00;
}

.project-tag.warm:hover,
.project-tag.warm.hovering {
  box-shadow: 0 0 10px #FF8C00;
}

.project-tag.cold {
  background-color: #1890ff;
  border-color: #1890ff;
  box-shadow: 0 1px 5px #1890ff;
}

.project-tag.cold:hover,
.project-tag.cold.hovering {
  box-shadow: 0 0 10px #1890ff;
}

.project-tag.freeze {
  background-color: #888888;
  border-color: #888888;
  box-shadow: 0 1px 5px #888888;
}

.project-tag.freeze:hover,
.project-tag.freeze.hovering {
  box-shadow: 0 0 10px #888888;
}

.project-name {
  font-size: 18px;
}

.oper-group {
  display: flex;
  justify-content: space-around;
}

.tool-icon {
  height: 20px;
  width: 20px;
  transition: all .3s ease-in-out;
}

.tool-icon img {
  height: 100%;
  width: 100%;
}

.ui-table .tool-icon:hover {
  transform: scale(1.2);
}

.scale {
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% { 
    transform: scale(1);
  }
  50% { 
    transform: scale(1.5);
  }
  100% { 
    transform: scale(1);
  }
}

@keyframes rotate {
  0% { 
    transform: rotateZ(0deg);
  }
  50% { 
    transform: rotateZ(180deg);
  }
  100% { 
    transform: rotateZ(360deg);
  }
}